node_modules/
.next/
dist/
.env
.DS_Store
files.zip
aws_DeployCommands_files.zip
aws_DeployCommands_files/
server/credentials/*.json
server/credentials/*.token
server/credentials/gmail-token.json
GMAIL_OAUTH_DesktopApp/
server/storage/contracts/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
